@model BeautyAndCare.Models.tblPromotion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblPromotion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateBeginCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBeginCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEndCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEndCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
