@using System.Linq
@using BeautyAndCare.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayouWeb.cshtml";
    DataWebSiteEntities db = new DataWebSiteEntities();
    var dataProductNew = from data in db.tbl_product
                         where data.id_category_products == 1
                         select data;
    var dataProductType1 = from data in db.tbl_product
                           where data.id_category_products == 2
                           select data;
    var dataProductType2 = from data in db.tbl_product
                           select data;
}

<!-- Include popup so sanh -->
<div id="f-compare" status="closed">
    <div class="f-compare-title"> <i></i><span>So sánh sản phẩm</span> </div>
    <div class="f-compare-body">
        <ul class="f-compare-ul no-margin no-padding">
            <li><a class="f-compare-del" href="javascript:void()" title="Xóa khỏi so sánh"></a><span> '+ productname +'</span></li>
        </ul>
        <div class="f-compare-info">chọn tối đa 4 sản phẩm</div>
        <div class="f-compare-button"> <a href="compare-view.html">So sánh </a> </div>
    </div>
</div>
<!-- End include popup so sanh-->
<!-- Quan ly toan bo layout web -->
<h1 style="display: none">VellBeauty</h1>
<!-- Header-->
@Html.Partial("Header")
<!--End Header-->
<div class="f-container2">
    <div class="main-container">
        <div class="f-ctn-center">

            <!--temp block/block_center_category_custom-->
            <div class="clearfix"></div>
            <!--temp block/block_center_category_custom_slide-->
            <div class="clearfix"></div>

            <div class="f-ctn-center">
                <div class="popup_qc">
                    <div>
                        <div class="f-block">
                            <div class="popup_qc_close"><span>x</span></div>
                            <div class="f-block-title"><span>Kết nối Vell.vn</span></div>
                            <div class="fb-like-box fb_iframe_widget" data-href="https://www.facebook.com/vellbeauty67" data-width="100%" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false" fb-xfbml-state="rendered"></div>
                        </div>
                    </div>
                </div>


                <!--################################## BEGIN REVOLUTION SLIDER -->
                <div class="clearfix"></div>

                <!-- Slider-->
                @Html.Partial("Slider")
                <!--End Slider-->
                <!--################################## END REVOLUTION SLIDER -->
                <div class="clearfix"></div>


                <!--Hàng mới về-->
                @Html.Partial("ProductsNew", dataProductNew.ToList())
                <!--End Hàng mới về-->
                <!--Chăm sóc da-->
                @Html.Partial("ProductType1", dataProductType1.ToList())
                <!--End Chăm sóc da-->
                <!--CHĂM SÓC CƠ THỂ-->
                @Html.Partial("ProductType2", dataProductType2.ToList())
                <!--End CHĂM SÓC CƠ THỂ-->
                <!--TRANG ĐIỂM-->
                @Html.Partial("ProductType3")
                <!--End TRANG ĐIỂM-->
                <!--THỰC PHẨM CHỨC NĂNG-->
                @Html.Partial("ProductType4")

                <!--BÁN CHẠY TRONG TUẦN-->
                @Html.Partial("ProductType5")
                <!--End BÁN CHẠY TRONG TUẦN-->
                <div class="clearfix"></div>



                <div class="f-center-module">
                    <div class="container">

                        <div class="row">
                            <div class="f-center-title ">
                                <h2>BEAUTY VIDEO</h2>

                            </div>

                            <div class="f-center-body">
                                <div class="f-video">

                                    <div class="col-sm-3">
                                        <div class="f-video-item">
                                            <div class="f-video-item-img">
                                                <figure>
                                                    <a href="http://vell.vn/bi-quyet-duong-da-min-mang-trong-suot-mua-don-1-9-13024.html" title="Bí quyết dưỡng da mịn màng trong suốt mùa đông">
                                                        <i></i>
                                                        <img src="http://s2.webbnc.vn/uploadv2/web/98/985/video/2016/01/05/07/39/1451979740_124.png" class="img-responsive" alt="Bí quyết dưỡng da mịn màng trong suốt mùa đông" />
                                                    </a>
                                                </figure>

                                                <div class="f-video-item-title">
                                                    <h3><a href="http://vell.vn/bi-quyet-duong-da-min-mang-trong-suot-mua-don-1-9-13024.html" title="Bí quyết dưỡng da mịn màng trong suốt mùa đông">Bí quyết dưỡng da mịn màng trong suốt mùa đông</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="f-video-item">
                                            <div class="f-video-item-img">
                                                <figure>
                                                    <a href="http://vell.vn/bai-tap-tang-them-25-cm-chieu-cao-chi-sau-2-t-1-9-11922.html" title="Bài tập tăng thêm 2,5 cm chiều cao chỉ sau 2 tháng">
                                                        <i></i>
                                                        <img src="http://s2.webbnc.vn/uploadv2/web/98/985/video/2016/01/05/07/38/1451979689_giam-beo-bung-2.jpg" class="img-responsive" alt="Bài tập tăng thêm 2,5 cm chiều cao chỉ sau 2 tháng" />
                                                    </a>
                                                </figure>

                                                <div class="f-video-item-title">
                                                    <h3><a href="http://vell.vn/bai-tap-tang-them-25-cm-chieu-cao-chi-sau-2-t-1-9-11922.html" title="Bài tập tăng thêm 2,5 cm chiều cao chỉ sau 2 tháng">Bài tập tăng thêm 2,5 cm chiều cao chỉ sau 2 tháng</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="f-video-item">
                                            <div class="f-video-item-img">
                                                <figure>
                                                    <a href="http://vell.vn/trang-diem-du-tiec-tuyet-dep-voi-phan-khoi-va-1-9-11342.html" title="Trang điểm dự tiệc tuyệt đẹp với phấn khối và Eyeliner">
                                                        <i></i>
                                                        <img src="http://s2.webbnc.vn/uploadv2/web/98/985/video/2016/01/05/07/40/1451979769_benefit-cosmetics-uk-instagram-take-over-labelsfor.jpg" class="img-responsive" alt="Trang điểm dự tiệc tuyệt đẹp với phấn khối và Eyeliner" />
                                                    </a>
                                                </figure>

                                                <div class="f-video-item-title">
                                                    <h3><a href="http://vell.vn/trang-diem-du-tiec-tuyet-dep-voi-phan-khoi-va-1-9-11342.html" title="Trang điểm dự tiệc tuyệt đẹp với phấn khối và Eyeliner">Trang điểm dự tiệc tuyệt đẹp với phấn khối và Eyeliner</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="f-video-item">
                                            <div class="f-video-item-img">
                                                <figure>
                                                    <a href="http://vell.vn/huong-dan-cham-soc-da-don-gian-tai-nha-1-9-9522.html" title="Hướng dẫn chăm sóc da tại nhà theo Vellbeauty">
                                                        <i></i>
                                                        <img src="http://s2.webbnc.vn/uploadv2/web/98/985/video/2015/10/29/03/20/1446106531_ee.png" class="img-responsive" alt="Hướng dẫn chăm sóc da tại nhà theo Vellbeauty" />
                                                    </a>
                                                </figure>

                                                <div class="f-video-item-title">
                                                    <h3><a href="http://vell.vn/huong-dan-cham-soc-da-don-gian-tai-nha-1-9-9522.html" title="Hướng dẫn chăm sóc da tại nhà theo Vellbeauty">Hướng dẫn chăm sóc da tại nhà theo Vellbeauty</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <a href="http://vell.vn/video.html" class="view-more hidden-sm hidden-xs">Xem tất cả</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="f-center-module">
                    <div class="container">
                        <div class="row">
                            <div class="f-center-title">
                                <h2>TIN LÀM ĐẸP</h2>
                            </div>
                            <div class="f-center-body">
                                <ul class="f-news">


                                    <li class="col-sm-3 col-xs-12">
                                        <div class="f-news-item">
                                            <div class="f-news-item-img"> <a href="http://vell.vn/review-serum-solute-astaxanthin-1-2-50801.html" title=""> <img src="http://s2.webbnc.vn/uploadv2/web/98/985/news/2016/06/28/10/03/1467108517_13529123_1072512786151431_7915962252305486794_n.jp.jpg_resize263x263.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/98/985/news/2016/06/28/10/03/1467108517_13529123_1072512786151431_7915962252305486794_n.jp.jpg&mode=resize&size=263x263'" class="img-responsive" alt="" /> </a> </div>
                                            <div class="f-news-item-title">
                                                <h2> <a title="Title" href="http://vell.vn/review-serum-solute-astaxanthin-1-2-50801.html">Review - Serum Solute Astaxanthin</a> </h2>
                                                <div class="f-new-item-sum">Astaxanthin c&oacute; t&aacute;c dụng chống oxy h&oacute;a cực tốt, hỗ trợ diều trị n&aacute;m da v&agrave; tăng khản năng chống nắng tự nhi&ecirc;n cho da. H&atilde;y xem cảm nhận của kh&aacute;ch h&agrave;ng sau khi sử dụng nh&eacute;.&nbsp;</div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="col-sm-3 col-xs-12">
                                        <div class="f-news-item">
                                            <div class="f-news-item-img"> <a href="http://vell.vn/mat-na-trang-da-tu-trai-cay-nhiet-doi-1-2-39784.html" title=""> <img src="http://s2.webbnc.vn/uploadv2/web/98/985/news/2016/03/24/02/34/1458787167_500.png_resize263x263.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/98/985/news/2016/03/24/02/34/1458787167_500.png&mode=resize&size=263x263'" class="img-responsive" alt="" /> </a> </div>
                                            <div class="f-news-item-title">
                                                <h2> <a title="Title" href="http://vell.vn/mat-na-trang-da-tu-trai-cay-nhiet-doi-1-2-39784.html">Mặt nạ trắng da từ trái cây nhiệt đới</a> </h2>
                                                <div class="f-new-item-sum"><p><span style="font-size:12px"><span style="color:rgb(0, 0, 0)"><span style="font-family:arial,helvetica,sans-serif">Mặt nạ trắng da từ tr&aacute;i c&acirc;y bổ sung dưỡng chất v&agrave; l&agrave;m da hồng h&agrave;o chỉ sau 4 tuần sử dụng. Dưỡng da từ tr&aacute;i c&acirc;y l&agrave; lựa chọn h&agrave;ng đầu, tiết kiệm thời gian v&agrave; chi ph&iacute; cho chị em phụ nữ bận rộn.</span></span></span></p></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="col-sm-3 col-xs-12">
                                        <div class="f-news-item">
                                            <div class="f-news-item-img"> <a href="http://vell.vn/review-kem-uv-water-cream-spf-35-yui-tokyo-1-2-37562.html" title=""> <img src="http://s2.webbnc.vn/uploadv2/web/98/985/news/2016/03/04/04/09/1457064852_1.jpg_resize263x263.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/98/985/news/2016/03/04/04/09/1457064852_1.jpg&mode=resize&size=263x263'" class="img-responsive" alt="" /> </a> </div>
                                            <div class="f-news-item-title">
                                                <h2> <a title="Title" href="http://vell.vn/review-kem-uv-water-cream-spf-35-yui-tokyo-1-2-37562.html">Review - Kem UV Water Cream SPF 35++ YUI tokyo</a> </h2>
                                                <div class="f-new-item-sum"><p><span style="font-size:12px">Cảm nhận của kh&aacute;ch về&nbsp;Kem chống l&atilde;o h&oacute;a &nbsp;v&agrave; chống nắng UV Water Cream SPF 35++ YUI tokyo&nbsp;</span></p></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="col-sm-3 col-xs-12">
                                        <div class="f-news-item">
                                            <div class="f-news-item-img"> <a href="http://vell.vn/review-serum-men-gao-bia-komeyu-1-2-37561.html" title=""> <img src="http://s2.webbnc.vn/uploadv2/web/98/985/news/2016/03/04/04/05/1457064582_4992969003306.jpg_resize263x263.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/98/985/news/2016/03/04/04/05/1457064582_4992969003306.jpg&mode=resize&size=263x263'" class="img-responsive" alt="" /> </a> </div>
                                            <div class="f-news-item-title">
                                                <h2> <a title="Title" href="http://vell.vn/review-serum-men-gao-bia-komeyu-1-2-37561.html">Review - Serum men gạo bia Komeyu</a> </h2>
                                                <div class="f-new-item-sum"><p><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Cảm nhận của kh&aacute;ch về Serum Men gạo bia Komeyu!</span></span></p></div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                                <a href="http://vell.vn/news.html" class="view-more hidden-sm hidden-xs">Xem tất cả</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row_logo_bottom">
                    <div class="container">
                        <div class="row">
                            <div class="title-slidelogo"><h2>Thương Hiệu</h2></div>
                            <div class="items-logo">
                                <ul id="slide-logo">


                                    <li>
                                        <img src="http://s2.webbnc.vn/uploadv2/web/98/985/slide/2016/02/22/10/37/1456137720_151.png" class="img-responsive" alt="Đối tác dướii" />
                                    </li>

                                    <li>
                                        <img src="http://s2.webbnc.vn/uploadv2/web/98/985/slide/2016/02/22/10/32/1456137410_149.png" class="img-responsive" alt="Đối tác dướii" />
                                    </li>

                                    <li>
                                        <img src="http://s2.webbnc.vn/uploadv2/web/98/985/slide/2016/02/22/10/30/1456137314_148.png" class="img-responsive" alt="Đối tác dướii" />
                                    </li>

                                    <li>
                                        <img src="http://s2.webbnc.vn/uploadv2/web/98/985/slide/2016/02/22/10/23/1456136862_147.png" class="img-responsive" alt="Đối tác dướii" />
                                    </li>

                                    <li>
                                        <img src="http://s2.webbnc.vn/uploadv2/web/98/985/slide/2016/02/22/10/21/1456136739_145.png" class="img-responsive" alt="Đối tác dướii" />
                                    </li>

                                    <li>
                                        <img src="http://s2.webbnc.vn/uploadv2/web/98/985/slide/2016/02/22/10/11/1456136135_140.png" class="img-responsive" alt="Đối tác dướii" />
                                    </li>

                                    <li>
                                        <img src="http://s2.webbnc.vn/uploadv2/web/98/985/slide/2016/02/22/10/17/1456136503_142.png" class="img-responsive" alt="Đối tác dướii" />
                                    </li>

                                    <li>
                                        <img src="http://s2.webbnc.vn/uploadv2/web/98/985/slide/2016/02/22/10/12/1456136216_141.png" class="img-responsive" alt="Đối tác dướii" />
                                    </li>

                                </ul>
                                <script>
                                        $("#slide-logo").owlCarousel({
                                            items: 8,
                                            itemsCustom: false,
                                            itemsDesktop: [1199, 8],
                                            itemsDesktopSmall: [980, 6],
                                            itemsTablet: [768, 4],
                                            itemsTabletSmall: false,
                                            itemsMobile: [479, 3],
                                            pagination: false,
                                            autoPlay: 7000
                                        });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FOTER-->
@Html.Partial("Footer")
<!--END FOTER-->
<div class="f-miniCart-miniv2" data-status="hide" style="right: -250px;">
    <div class="f-miniCart-miniv2-toolbar">
        <div class="miniv2-toolbar-close" style="visibility: hidden;"><span>×</span></div>
        <div class="miniv2-toolbar-name">
            <a class="miniv2-toolbar-barclick">
                <span class="fa fa-shopping-cart"></span>Giỏ hàng<span class="miniv2-toolbar-count">0</span>
            </a>
        </div>
        <div class="v2-gotop">
            <a class="lentop">
                <i class="fa fa-arrow-circle-o-up "></i>
            </a>
        </div>

    </div>
    <div class="miniCart-top">
        <span>Giỏ hàng của tôi (0)</span>
    </div>
    <div class="miniCart-body">
        <ul class="miniCartItem">
            <li><center>Hiện chưa có sản phẩm nào trong giỏ hàng của bạn</center></li>
        </ul>
    </div>
</div>

