@model BeautyAndCare.Models.tblOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusOrder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOrder }) |
    @Html.ActionLink("Back to List", "Index")
</p>
