@model IEnumerable<BeautyAndCare.Models.tblAll>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Danh sách Thành viên nhận code khuyến mãi</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink("Thêm khuyến mãi", "Create", "adminSavePromotions", "", htmlAttributes: new { @class = "btn btn-primary" })
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>

                                <th>Tên khách hàng</th>
                                <th>Gói khuyến mãi</th>
                                <th>Ngày bất đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Trạng thái sử dụng</th>
                                <th>Trạng thái</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr class="odd gradeX">
                                    <td>@item.tblUser.NameUser</td>
                                    <td>@item.tblPromotion.NameCode</td>
                                    <td>@item.tblPromotion.DateBeginCode</td>
                                    <td>@item.tblPromotion.DateEndCode</td>
                                    <td>@item.tblSavePromotion.StatusSavePromotion</td>
                                    <td>
                                        @if (item.tblPromotion.DateEndCode < DateTime.Now)
                                        {
                                            @("Đã hết hạn")
                                        }
                                      else
                                        {
                                            @("Có thể sử dụng")
                                        }

                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "adminSavePromotions", new { id = item.tblSavePromotion.IdSavePromotion})" class="btn btn-default btn-xs">Sửa</a>
                                        <a href="@Url.Action("Delete", "adminSavePromotions", new { id = item.tblSavePromotion.IdSavePromotion })" onclick="return confirm('Bạn có muốn xóa sản phẩm không?');" class="btn btn-default btn-xs">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

