

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BeautyAndCare.Models.tblAll
@using System.Configuration
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Đăng sản phẩm</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

@using (Html.BeginForm("EditPro", "adminProduct"))
{
    @Html.HiddenFor(model => model.tblProducts.IdProducts)
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <input type="hidden" name="cfile" />
                            <input type="hidden" name="tblProducts.IdProducts" class="idProduct_" value="@Model.tblProducts.IdProducts" />
                            <input type="hidden" name="nameImg" />
                            <div class="form-group">
                                <label>Tên sản phẩm</label>
                                @Html.EditorFor(model => model.tblProducts.NameProducts, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tblProducts.NameProducts, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Tên sản phẩm En</label>
                                @Html.EditorFor(model => model.tblProducts.NameProducts_en, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tblProducts.NameProducts_en, "", new { @class = "text-danger" })
                            </div>
                            @*<div class="row">

                                    <div class="col-lg-4">
                                        <label>Giá 1</label>
                                        <div class="form-group input-group">

                                            <input class="form-control txtoldprice_products_tra" name="tblProducts.PriceProducts">
                                            <span class="input-group-addon">VNĐ</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <label></label>
                                        <div class="form-group input-group">
                                            -

                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <label>Giảm giá</label>
                                        <div class="form-group input-group">

                                            <input class="form-control txtdiscount_products_tra" name="tblProducts.discount_products_tra">
                                            <span class="input-group-addon">%</span>

                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <label></label>
                                        <div class="form-group input-group">
                                            =

                                        </div>

                                    </div>
                                    <div class="col-lg-4">
                                        <label>Giá 2</label>
                                        <div class="form-group input-group">

                                            <input class="form-control txtnewprice_products_tra" name="tblProducts.PriceNewProducts">
                                            <span class="input-group-addon">VNĐ</span>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="form-group">
                                <label>Tóm tắt</label>
                                @Html.TextAreaFor(model => model.tblProducts.ShortDesProducts, htmlAttributes : new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.tblProducts.ShortDesProducts, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(model => model.tblProducts.ShortDesProducts_en, htmlAttributes : new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.tblProducts.ShortDesProducts_en, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                <label>Mô tả</label>

                                @Html.TextAreaFor(x => x.tblProducts.DescriptionProducts, htmlAttributes: new { @id = "txtDescriptionProducts", @name = "tblProducts.DescriptionProducts", @class = "form-control ckedit" })

                            </div>
                            <div class="form-group">
                                <label>Mô tả En</label>

                                @Html.TextAreaFor(x => x.tblProducts.DescriptionProducts_en, htmlAttributes: new { @id = "txtDescriptionProducts_en", @name = "tblProducts.DescriptionProducts_en", @class = "form-control ckedit" })

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Mã sản phẩm</label>
                                @Html.EditorFor(model => model.tblProducts.CodeProducts, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tblProducts.CodeProducts, "", new { @class = "text-danger" })


                            </div>
                            <div class="form-group">
                                <label>Giá cũ</label>
                                @Html.EditorFor(model => model.tblProducts.PriceProducts, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tblProducts.PriceProducts, "", new { @class = "text-danger" })


                            </div>
                            <div class="form-group">
                                <label>Giá mới</label>
                                @Html.EditorFor(model => model.tblProducts.PriceNewProducts, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tblProducts.PriceNewProducts, "", new { @class = "text-danger" })


                            </div>
                            <div class="form-group">
                                <label>Loại</label>
                                @Html.DropDownListFor(M => M.tblProducts.IdCategoryProducts, new SelectList(Model.ListMenu.ToList(), "IdMenu", "NameMenu"), htmlAttributes: new { @class = "form-control", @name = "tblProducts.IdCategoryProducts" })
                            </div>

                            <div class="form-group">
                                <label>Trạng thái</label>
                                @Html.DropDownListFor(model => model.tblProducts.StatusProducts, new List<SelectListItem>
                                {
                                    new SelectListItem {Text = "Không hoạt động", Value = "0"},
                                    new SelectListItem {Text = "Hoạt động", Value = "1"},

                                }, new { @class = "form-control", @name = "tblProducts.StatusProducts" })

                            </div>
                            <div class="form-group">
                                <label>Trạng thái hàng</label>
                                @Html.DropDownListFor(M => M.tblProducts.IdTypeProducts, new SelectList(Model.ListType.ToList(), "IdType", "NameType"), htmlAttributes: new { @class = "form-control", @name = "tblProducts.IdTypeProducts" })


                            </div>
                            <div class="form-group">

                                <label>Lấy link hình </label>
                                <div class="row">
                                    <form id="data" method="post" enctype="multipart/form-data">
                                        <div class="col-lg-12">
                                            <input class="form-control" id="getLinkFile" type="file">
                                            <label class="link"></label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Hình</label>
                                <div id="demo-upload" class="dropzone needsclick dz-clickable dz-started cusdropzone" method="POST" style="width: auto;" action="/Home/Blank">
                                    <div class="row">
                                        <div class="col-lg-4 ">
                                            <div class="dz-default dz-message cusbuttonmes " style="display: block;">
                                                <span class="btn btn-action">
                                                    <label style="margin-left: 5px;" class="btn btn-danger"> Lựa chọn hình ảnh </label>
                                                </span>

                                            </div>


                                        </div>


                                    </div>
                                    @foreach (var item in Model.ListPicture)
                                    {
                                        <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">
                                            <div class="tools final">
                                                <div class="btn cusbtn cbtn-edit hidden" title="Edit" onclick=" Edit(this) "><i class="glyphicon glyphicon-pencil"></i></div>
                                                <div class="btn cusbtn cusbtn-del" title="Delete" onclick=" DeleteUpload(this) "><svg xml:space="preserve" enable-background="new 0 0 15.809 20" viewBox="0 0 15.809 20" height="13px" width="13px" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="Layer_1" version="1.1"><g><path d="M14.444,2.354h-2.67V0.62c0-0.35-0.281-0.62-0.631-0.62c-0.034,0-0.057,0.012-0.067,0.022C11.064,0.012,11.042,0,11.03,0H4.664c-0.349,0-0.62,0.27-0.62,0.62v1.735H1.364C0.597,2.354,0,2.952,0,3.718V5.95h1.183v12.698C1.183,19.414,1.769,20,2.535,20h10.738c0.767,0,1.362-0.586,1.362-1.353V5.95h1.173V3.718C15.809,2.952,15.211,2.354,14.444,2.354L14.444,2.354z M5.284,1.239h5.239v1.115H5.284V1.239z M13.386,18.647c0,0.079-0.034,0.113-0.112,0.113H2.535c-0.079,0-0.113-0.034-0.113-0.113V5.95h10.963V18.647z M14.558,4.71H1.251V3.718c0-0.079,0.033-0.125,0.113-0.125h13.081c0.079,0,0.113,0.046,0.113,0.125V4.71z M14.558,4.71" fill="#FFFFFF" /><rect height="10.254" width="1.25" fill="#FFFFFF" y="7.402" x="10.175" /><rect height="10.254" width="1.251" fill="#FFFFFF" y="7.402" x="7.29" /><rect height="10.254" width="1.25" fill="#FFFFFF" y="7.402" x="4.406" /></g></svg></div>
                                            </div>
                                            <div class="containerUpload cusdefault">
                                                <input type="radio" data-defalut-enabled="false" class="reset-data cusradio" name="groupimg" checked="checked">Chọn ảnh này làm đại diện
                                            </div>
                                            <div id="imgmain" class="dz-image containerUpload">
                                                <img data-dz-thumbnail="" class="ghost cussimg" rel="@item.PictureId" id="cusimg" alt="" src="@ConfigurationManager.AppSettings["domain"]@item.OriginalFilepath.ToString().Split('_')[0]/@item.OriginalFilepath" />
                                            </div>
                                            <div class="dz-filename cusfilename"><span data-dz-name=""><input type="text" placeholder="Tiêu đề hình ảnh" class="col-xs-12 form-control valid cusinput" id="txtImage" value="@item.Title" name=""></span>  </div>
                                            <div class="dz-progress"><span data-dz-uploadprogress="" class="dz-upload" style="width: 100%;"></span></div>
                                            <div class="dz-error-message"><span data-dz-errormessage=""></span></div>
                                            <div class="dz-success-mark" id="cussucess">
                                                <svg xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 54 54" height="54px" width="54px">      <title>Check</title>      <defs />      <g sketch:type="MSPage" fill-rule="evenodd" fill="none" stroke-width="1" stroke="none" id="Page-1">   <path sketch:type="MSShapeGroup" fill="#FFFFFF" fill-opacity="0.816519475" stroke="#747474" stroke-opacity="0.198794158" id="Oval-2" d="M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z" />      </g>    </svg>
                                            </div>
                                            <div class="dz-error-mark">
                                                <svg xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 54 54" height="54px" width="54px">      <title>Error</title>      <defs />      <g sketch:type="MSPage" fill-rule="evenodd" fill="none" stroke-width="1" stroke="none" id="Page-1">        <g fill-opacity="0.816519475" fill="#FFFFFF" stroke-opacity="0.198794158" stroke="#747474" sketch:type="MSLayerGroup" id="Check-+-Oval-2">          <path sketch:type="MSShapeGroup" id="Oval-2" d="M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z" />        </g>      </g>    </svg>  "
                                            </div>
                                        </div>
                                    }

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-default btnAdd hidden"></button>

                                <div onclick="UploadImg(this)" class="btn btn-primary btnAdd1">Thêm</div>
                                <a href="@Url.Action("Delete", "adminProduct",new {id=Model.tblProducts.IdProducts })" class="btn btn-primary">Hủy</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->

    <!-- /.row -->

    <script>


        function dropNew(ed) {

            var console = window.console || { log: function () { } };
            var $image = $(ed).parents(".dz-preview").find('#cusimg');
            var $download = $('#download');
            var $dataX = $(ed).parents(".dz-preview").find('#dataX');
            var $dataY = $(ed).parents(".dz-preview").find('#dataY');
            var $dataHeight = $(ed).parents(".dz-preview").find('#dataHeight');
            var $dataWidth = $(ed).parents(".dz-preview").find('#dataWidth');
            var $dataRotate = $(ed).parents(".dz-preview").find('#dataRotate');
            var $dataScaleX = $(ed).parents(".dz-preview").find('#dataScaleX');
            var $dataScaleY = $(ed).parents(".dz-preview").find('#dataScaleY');
            var $putData = $(ed).parents(".dz-preview").find('#dataimg');


            var options = {
                aspectRatio: 1 / 1,
                preview: '.img-preview',
                crop: function (e) {
                    $dataX.val(Math.round(e.x));
                    $dataY.val(Math.round(e.y));
                    $dataHeight.val(Math.round(e.height));
                    $dataWidth.val(Math.round(e.width));
                    $dataRotate.val(e.rotate);
                    $dataScaleX.val(e.scaleX);
                    $dataScaleY.val(e.scaleY);
                }
            };


            // Tooltip
            $(ed).find('[data-toggle="tooltip"]').tooltip();


            // Cropper
            $image.on({
                'build.cropper': function (e) {
                    // console.log(e.type);
                },
                'built.cropper': function (e) {
                    // console.log(e.type);
                },
                'cropstart.cropper': function (e) {
                    // console.log(e.type, e.action);
                },
                'cropmove.cropper': function (e) {
                    // console.log(e.type, e.action);
                },
                'cropend.cropper': function (e) {
                    //console.log(e.type, e.action);
                },
                'crop.cropper': function (e) {
                    //console.log(e.type, e.x, e.y, e.width, e.height, e.rotate, e.scaleX, e.scaleY);
                    //console.log(e.type);
                    //console.log(e.x);
                    //console.log(e.y);
                    //console.log(e.width);
                    //console.log(e.height);
                    //console.log(e.rotate);
                    //console.log(e.scaleX);
                    //console.log(e.scaleY);


                },
                'zoom.cropper': function (e) {
                    // console.log(e.type, e.ratio);
                }
            }).cropper(options);


            //// Buttons
            if (!$.isFunction(document.createElement('canvas').getContext)) {
                $(ed).parents('.dz-preview').eq(0).find('button[data-method="getCroppedCanvas"]').prop('disabled', true);
            }

            if (typeof document.createElement('cropper').style.transition === 'undefined') {
                $(ed).parents('.dz-preview').eq(0).find('button[data-method="rotate"]').prop('disabled', true);
                $(ed).parents('.dz-preview').eq(0).find('button[data-method="scale"]').prop('disabled', true);
            }


            // Methods
            $(ed).parents('.dz-preview').eq(0).find('.docs-buttons').on('click', '[data-method]', function () {
                var $this = $(this);
                var data = $this.data();
                var $target;
                var result;

                if ($this.prop('disabled') || $this.hasClass('disabled')) {
                    return;
                }

                if ($image.data('cropper') && data.method) {
                    data = $.extend({}, data); // Clone a new one

                    if (typeof data.target !== 'undefined') {
                        $target = $(data.target);

                        if (typeof data.option === 'undefined') {
                            try {
                                data.option = JSON.parse($target.val());
                            } catch (e) {
                                console.log(e.message);
                            }
                        }
                    }

                    result = $image.cropper(data.method, data.option, data.secondOption);

                    switch (data.method) {
                        case 'scaleX':
                        case 'scaleY':
                            $(this).data('option', -data.option);
                            break;

                        case 'getCroppedCanvas':
                            console.log(result.toDataURL().length);
                            var duongdancrop = result.toDataURL();
                            $(ed).parents(".dz-preview").find('.cussimg').attr("src", duongdancrop);
                            $(ed).parents(".dz-preview").find('.cropper-canvas img:first').attr("src", duongdancrop);
                            $(ed).parents(".dz-preview").find('.cropper-view-box img:first').attr("src", duongdancrop);

                            //hiden control drop
                            $(ed).parent().parent().find('#imgmain').find("img:first").removeClass('cropper-hidden');
                            $(ed).parent().parent().find('#imgmain').find("img:first").next().addClass('cropper-hidden');
                            //hiden control drop end
                            if (result) {


                                if (isserver) {
                                    //save to sever

                                    $putData.text(result.toDataURL());

                                } else {
                                    $putData.text(result.toDataURL());
                                }

                                // Bootstrap's Modal
                                //$('#getCroppedCanvasModal').modal().find('.modal-body').html(result);

                                //if (!$download.hasClass('disabled')) {
                                //    $download.attr('href', result.toDataURL());


                                //}
                            }

                            break;
                    }

                    if ($.isPlainObject(result) && $target) {
                        try {
                            $target.val(JSON.stringify(result));
                        } catch (e) {
                            console.log(e.message);
                        }
                    }

                }
            });


        }
        var isserver = false;

        function uploadtoserver() {
            $.each($('.cbtn-info-ok'), function (i, o) {

                if ($(o).parents('.dz-preview').find('.tools.final').hasClass('hidden')) {
                    isserver = true;

                    $(o).click();
                }
            }
            );
            return false;
        }

        function UploadImg(obj) {

            $('.cropper-container img').css({ "transform": "none" });
            $('.btnAdd1').text('Đang xữ lý');
            $('.btnAdd1').addClass('disabled');
            uploadtoserver();
            var totalitem = $('.dz-preview').size();
            $.each($('.dz-preview'), function (i, o) {
                $(o).find("input:radio[name=groupimg][disabled=false]:first").attr('checked', true);
                var image = $(o).find('#cusimg');
                var valuerotate = $(o).find('#dataRotate').val();
                var dataX = $(o).find('#dataX').val();
                var dataY = $(o).find('#dataY').val();
                var dataHeight = $(o).find('#dataHeight').val();
                var dataWidth = $(o).find('#dataWidth').val();
                var right = $(window).width() - dataX - image.width();
                var bottom = $(window).height() - dataY - image.height();
                var dataimg = $(o).find('#dataimg').text();
                var dataname = $(o).find('.cusinput').val();
                var idpic = $(o).find('#cusimg').attr('rel');

                document.getElementsByName('cfile')[0].value = dataimg;
                document.getElementsByName('nameImg')[0].value = dataname;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveImg", "adminProduct")",
                    data: { idProducts: $('.idProduct_').val(), index: i, nameImg: dataname, cfile: (dataimg == null ? "" : dataimg), isactive: $(o).find('input:checked').size(), idpicture: idpic },

                    success: function (data) {
                        $(o).find('#cusimg').attr('rel', data.d);

                        totalitem--;

                        if (totalitem == 0) {
                            $('.btnAdd1').text('Thêm');
                            $('.btnAdd1').removeClass('disabled');
                            $('.btnAdd').click();
                        }

                    },
                    error: function (e) {
                        toastr.error('Vui lòng chọn lại hình ảnh');
                    }
                });
            });


            return true;
        }

        function getLink() {
            var dataimg = new FormData();
            var files = $("#getImg").get(0).files;
            if (files.length > 0) {
                dataimg.append("HelpSectionImages", files[0]);
            }
            $.ajax({
                url: 'GetLink',
                type: "POST",
                processData: false,
                contentType: false,
                data: dataimg,
                success: function (response) {

                    console.log(response);
                    $('#idImg').attr("src", response.shorurl);
                    $('#hdImgName').val(response.imgName);

                },
                error: function (er) {
                    alert(er);
                }

            });

        }

        $("#getLinkFile").change(function () {

            var data = new FormData();
            var files = $("#getLinkFile").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
            }
            var url = "GetLink"
            $.ajax({
                url: url,
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $('.link').text(response.fullurl);

                },
                error: function (er) {
                }

            });

        });

    </script>

}
<link href="/Content/UploadNew/main.css" rel="stylesheet" />
<link href="/Content/UploadNew/dropzone.css" rel="stylesheet" />
<link href="/Content/UploadNew/cropper.min.css" rel="stylesheet" />
<link href="/Content/UploadNew/cussupload.css" rel="stylesheet" />
<script src="~/Scripts/cusjsNew.js"></script>
<script src="~/Scripts/dropzoneNew.js"></script>
<script src="~/Scripts/cropperNew.js"></script>
