@using BeautyAndCare.Models;
@using System.Linq;
@model ShoppingCartModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayOutNew.cshtml";
    WebSiteEntities db = new WebSiteEntities();
    var queryMenu = from data in db.tblMenus
                    where data.StatusMenu == 1
                    orderby data.OrderMenu ascending
                    select data;
}
<!--HEADER--->
@Html.Partial("Header", queryMenu.ToList())
<!--END HEADER--->
<div class="container">
    @Html.Partial("Breadcrumb")
    @using (Html.BeginForm("CheckOut", "WebSite"))
    {
        <div class="product_tabs">
            <ul class="nav nav-tabs">
                <li class="licart active">
                    <a href="#tab-description" data-toggle="tab" class="clcart">
                        Giỏ hàng
                    </a>
                </li>
                <li class="deliveinfo">
                    <a href="#tab-deliver" data-toggle="tab" class="cldelive">
                        Thông tin giao hàng
                    </a>
                </li>
                <li class="lipayout">
                    <a href="#tab-specification" data-toggle="tab" class="cltoupayout">
                        Hướng dẫn thanh toán
                    </a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-description">
                    <div class="row">
                        <div id="content" class="col-sm-12">
                            <h1 class="clcart">
                                Giỏ hàng
                            </h1>

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td>Image</td>
                                            <td class="text-left">Product Name</td>
                                            <td class="text-left">Quantity</td>
                                            <td class="text-right">Unit Price</td>
                                            <td class="text-right">Total</td>
                                            <td style="width: 0"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Cart.ListItem)
                                        {
                                            <tr>
                                                <td class="text-center vcenter">
                                                    <div class="image">
                                                        <a href="@Url.Action("Detail", "WebSite" ,new { id=item.ProductName.UrlFrendly() + "-" + item.ProductID })">
                                                            <img width="50" src="@item.FullUrlImg2" alt="Youngman 15 Colors Professional Concealer" title="Youngman 15 Colors Professional Concealer" class="img-thumbnail">
                                                        </a>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <a class="link" href="@Url.Action("Detail", "WebSite" ,new { id=item.ProductName.UrlFrendly() + "-" + item.ProductID })">
                                                        @item.ProductName
                                                    </a>

                                                </td>
                                                <td class="text-left">
                                                    <div class="btn-block clearfix" style="max-width: 200px;">
                                                        <a class="counter counter-minus material-design-horizontal39" href="#"></a>
                                                        <input type="text" name="quantity[297]" value="@item.Quanlity" size="1" class="form-control cart-q" id="txtQuantity_@item.ProductID">
                                                        <a class="counter counter-plus material-design-add186" href="#"></a>
                                                        <p>
                                                            <button type="submit" onclick="UpdateToCart(@item.ProductID)" class="link">Update</button>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <div class="price  priceCart_@item.ProductID">

                                                        <script>
                                                            $(function () {


                                                                $('.priceCart_@item.ProductID').text(tien(@item.Price));
                                                            }) </script>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <div class="price price-total priceTotal_@item.ProductID">
                                                        <input type="hidden" id="hdtotal" name="hdtotal" value="@item.Total" />
                                                        <script>
                                                            $(function () {

                                                                $('.priceTotal_@item.ProductID').text(tien(@item.Total));
                                                            }) </script>
                                                    </div>
                                                </td>
                                                <td class="text-center" style="width: 0">
                                                    <button type="button" data-toggle="tooltip" title="" class="btn-icon" onclick="cart.remove('297');" data-original-title="Remove">
                                                        <i class="fl-outicons-trash1"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                            <h2>What would you like to do next?</h2>
                            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a href="#collapse-coupon" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">Use Coupon Code <i class="fa fa-caret-down"></i></a></h4>
                                    </div>
                                    <div id="collapse-coupon" class="panel-collapse collapse " aria-expanded="true">
                                        <div class="panel-body">
                                            <label class="col-sm-2 control-label" for="input-coupon">Enter your coupon here</label>
                                            <div class="input-group">
                                                <input type="text" name="coupon" value="" placeholder="Enter your coupon here" id="input-coupon" class="form-control">
                                                <span class="input-group-btn">
                                                    <input type="hidden" id="hdValueCoupon" />
                                                    <input type="button" value="Apply Coupon" onclick="CheckCoupon()" id="button-coupon" data-loading-text="Loading..." class="btn btn-primary">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="text-right"><strong>Sub-Total:</strong></td>
                                                <td class="text-right tx-price showSubTotal"></td>
                                                <td class="text-right priceHd hidden"></td>
                                            </tr>
                                            <tr>
                                                <td class="text-right"><strong>Total:</strong></td>
                                                <td class="text-right tx-price showTotalAll">$100.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="buttons">
                                <div class="pull-left"><a href="@Url.Action("Index","WebSite")" class="btn btn-default">Tiếp tục mua hàng</a></div>
                                <div class="pull-right"><a class="btn btn-primary checkout btnContinue">Tiếp tục</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane product-spec product-section" id="tab-deliver">
                    <div class="row">
                        <div id="content" class="col-sm-12">
                            <h1 class="cldelive">
                                Thông tin giao hàng
                            </h1>
                            <div class="row">
                                <div id="content" class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="well">
                                                <div class="row">
                                                    <div id="content" class="col-sm-12">
                                                        <h1>Đăng ký địa chỉ giao hàng</h1>
                                                        Vui lòng điền CHÍNH XÁC "tầng, số nhà, đường" để tránh trường hợp đơn hàng bị hủy ngoài ý muốn

                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="col-lg-4">
                                                                    <div class="form-group">
                                                                        <label>Họ và tên</label>
                                                                        <input class="form-control" name="shipFullName" id="txtshipFullName">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Địa chỉ nhà</label>
                                                                        <textarea class="form-control" name="shipAddress" id="txtshipAddress"></textarea>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label>Số điện thoại</label>
                                                                        <input class="form-control" name="shipphone" id="txtPhone">
                                                                    </div>
                                                                    <div class="form-group cldropCity">
                                                                        <label class="clcitycheckout">Thành phố / Tỉnh thành</label>
                                                                        <select id="dropCity" class="form-control"></select>

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="cldistrictcheckout hidden">Quận/Huyện</label>
                                                                        <select id="dropDistrict" class="form-control"></select>

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="clwardcheckout hidden">Phường/Xã</label>
                                                                        <select id="dropWard" class="form-control"></select>

                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-8">
                                                                    <table class="table total">
                                                                        <tbody>
                                                                            <tr>
                                                                                <th>Tên SP</th>
                                                                                <th>SL</th>
                                                                                <th>Giá</th>
                                                                                <th>Tổng</th>
                                                                            </tr>
                                                                            @foreach (var item in Model.Cart.ListItem)
                                                                            {
                                                                            <tr>
                                                                                <th class="text-left" style="width:90%!important">
                                                                                    <strong>
                                                                                        <a class="link" style="margin-top:0!important;" href="@Url.Action("Detail", "WebSite" ,new { id=item.ProductName.UrlFrendly() + "-" + item.ProductID })">
                                                                                            @item.ProductName
                                                                                        </a>
                                                                                    </strong>
                                                                                </th>
                                                                                <th class="text-right" style="width:10%!important">


                                                                                    @item.Quanlity

                                                                                </th>
                                                                                <th class="text-right" style="width:10%!important">


                                                                                    <div class="price priceCart_@item.ProductID">
                                                                                        <script>
                                                                                                $(function () {
                                                                                                    $('.priceCart_@item.ProductID').text(tien(@item.Price));
                                                                                                }) </script>
                                                                                    </div>

                                                                                </th>
                                                                                <th class="text-right" style="width:10%!important">
                                                                                    <div class="price  priceTotal_@item.ProductID">
                                                                                        <input type="hidden" id="hdtotal1" name="hdtotal" value="@item.Total" />
                                                                                        <script>
                                                                                                $(function () {

                                                                                                    $('.priceTotal_@item.ProductID').text(tien(@item.Total));
                                                                                                }) </script>
                                                                                    </div>

                                                                                </th>
                                                                            </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                    <table class="table total">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="text-left">
                                                                                    <strong>Ship</strong>
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    <span class="showShip">
                                                                                        0đ
                                                                                    </span>

                                                                                </td>
                                                                            </tr>
                                                                            <tr>

                                                                                <td class="text-left">
                                                                                    <strong>Sub-Total</strong>
                                                                                </td>
                                                                                <td class="text-right">

                                                                                    <input type="hidden" value="" id="hdPriceNo" />
                                                                                    <span class="pricOutSub">

                                                                                    </span>

                                                                                </td>
                                                                            </tr>
                                                                            <tr>

                                                                                <td class="text-left">

                                                                                    <strong>Total</strong>
                                                                                </td>
                                                                                <td class="text-right clTotalPrcie">
                                                                                    $100.00
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </div>


                                                                <!-- /.panel-body -->
                                                            </div>
                                                            <!-- /.panel -->
                                                        </div>


                                                        <div class="buttons">
                                                            <div class="pull-right">
                                                                <a href="javascript:void(0)" class="btn btn-primary btnNextThanhtoan">Tiếp tục</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="buttons">
                                <div class="pull-left"><a href="@Url.Action("Index","WebSite")" class="btn btn-default">Tiếp tục mua hàng</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane product-spec product-section" id="tab-specification">
                    <div class="row">
                        <div id="content" class="col-sm-12">
                            <h1 class="cltoupayouttitle">
                                Hướng dẫn thanh toán
                            </h1>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>
                                        Hướng dẫn mua hàng
                                    </h3>
                                </div>
                                <div class="col-lg-6 OutOrder">
                                    <h3>
                                        Thông tin Giao hàng
                                    </h3>
                                   
                                    <table class="table total">
                                        <tbody>
                                            <tr>
                                                <th>Tên SP</th>
                                                <th>SL</th>
                                                <th>Giá</th>
                                                <th>Tổng</th>
                                            </tr>
                                            @foreach (var item in Model.Cart.ListItem)
                                            {
                                                <tr>
                                                    <th class="text-left" style="width:90%!important">
                                                        <input type="hidden" class="hdIdPro" value="@item.ProductID" />
                                                        <strong>
                                                            <a class="link" style="margin-top:0!important;" href="@Url.Action("Detail", "WebSite" ,new { id=item.ProductName.UrlFrendly() + "-" + item.ProductID })">
                                                                @item.ProductName
                                                            </a>
                                                        </strong>
                                                    </th>
                                                    <th class="text-right" style="width:10%!important">


                                                        @item.Quanlity

                                                    </th>
                                                    <th class="text-right" style="width:10%!important">


                                                        <div class="price priceCart_@item.ProductID">
                                                            <script>
                                                                $(function () {
                                                                    $('.priceCart_@item.ProductID').text(tien(@item.Price));
                                                                }) </script>
                                                        </div>

                                                    </th>
                                                    <th class="text-right" style="width:10%!important">
                                                        <div class="price  priceTotal_@item.ProductID">
                                                            <input type="hidden" id="hdtotal1" name="hdtotal" value="@item.Total" />
                                                            <script>
                                                                $(function () {

                                                                    $('.priceTotal_@item.ProductID').text(tien(@item.Total));
                                                                }) </script>
                                                        </div>

                                                    </th>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                    <div class="form-group">
                                        <label>Giá</label>
                                        <label class="showPrice cusLable"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>Giá Ship</label>
                                        <label class="showShip cusLable"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>Tổng giá</label>
                                        <label class="showPricePay cusLable"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>Họ và tên</label>
                                        <label class="showFullname cusLable"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>Địa chỉ nhà</label>
                                        <label class="showAddress cusLable"></label>
                                    </div>

                                    <div class="form-group">
                                        <label>Số điện thoại</label>
                                        <label class="showPhone cusLable"></label>
                                    </div>

                                </div>
                            </div>

                            <div class="buttons">
                                <input type="hidden" id="hdPriceNoPayout" />
                                <div class="pull-left"><a href="@Url.Action("Index","WebSite")" class="btn btn-default">Tiếp tục mua hàng</a></div>
                                <div class="pull-right"><a href="javascript:void(0)" class="btn btn-primary checkout btnCheckOut">Thanh toán</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    }
</div>

<div class="modal">  </div>
<style>
    .cusLable {
        color: blue;
        font-weight: bold;
        font-size: 15px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
    }


    body.loading {
        overflow: hidden;
    }


        body.loading .modal {
            display: block;
        }
</style>
<script>
    $body = $("body");
    $('.btnContinue').click(function () {
        $(".cldelive").click();
        $('.licart').removeClass('active')
        $('.lipayout').removeClass('active')
        $('.deliveinfo').addClass('active')
    })
    $('.btnNextThanhtoan').click(function () {

        check();
    })
    $('.btnCheckOut').click(function () {

        var idCity = $("#dropCity option:selected").val();
        var idDistrict = $("#dropDistrict option:selected").val();
        var idWard = $("#dropWard option:selected").val();
        var vlFullName = $("#txtshipFullName").val();
        var vlAddress = $("#txtshipAddress").val();
        var vlPhone = $("#txtPhone").val();
        var t = 0;
        if (vlFullName == "") {
            $('.lblFullName').addClass('hidden');
            $('#txtshipFullName').after('<label style="color:red;" class="errorLabel lblFullName">Vui lòng nhập họ tên / Full Name</label>');
            t++;
        }
        if (vlAddress == "") {
            $('.lblAddress').addClass('hidden');
            $('#txtshipAddress').after('<label style="color:red;" class="errorLabel lblAddress">Vui lòng nhập địa chỉ / Address</label>');
            t++;
        }
        if (vlPhone == "") {
            $('.lblPhone').addClass('hidden');
            $('#txtPhone').after('<label style="color:red;" class="errorLabel lblPhone">Vui lòng nhập điện thoại / Phone</label>');
            t++;
        }
        if (idCity == 0) {
            $('.lblCity').addClass('hidden');
            $('#dropCity').after('<label style="color:red;" class="errorLabel lblCity">Vui lòng chọn Thành Phố / City</label>');
            t++;
        }
        if (idDistrict == 0) {
            $('.lblDis').addClass('hidden');
            $('#dropDistrict').after('<label style="color:red;" class="errorLabel lblDis">Vui lòng chọn Quận / Ditrisct</label>');
            t++;
        }
        if (idWard == 0) {
            $('.lblWard').addClass('hidden');
            $('#dropWard').after('<label style="color:red;" class="errorLabel lblWard">Vui lòng chọn Phường / Ward</label>');
            t++;
        }
        if (t == 0) {


            $(document).on({
                ajaxStart: function () { $body.addClass("loading"); }

            });
            var content = $('.OutOrder').html();
            var price = $('#hdPriceNoPayout').val();
            var url = "/WebSite/SendOrder";
            var obj = {};
            obj.content = content;
            $.ajax
           ({
               type: "POST",
               url: url,
               data: JSON.stringify(obj),
               dataType: "json",
               contentType: "application/json;charset=utf-8",
               success: function (data) {
                   addOrder(price);

                   if (data == 0) {


                   }
               }
           });
        }


    })
    function addPro(idOr, Idpro) {

        var url = "/WebSite/AddProduct";
        var obj = {};
        obj.idOrder = idOr;
        obj.idPro = Idpro;
        $.ajax
       ({
           type: "POST",
           url: url,
           data: JSON.stringify(obj),
           dataType: "json",
           contentType: "application/json;charset=utf-8",
           success: function (data) {
               $(document).on({

                   ajaxStop: function () { $body.removeClass("loading"); window.location.href = "/WebSite/PayOut"; }
               });

           }
       });
    }
    function AddPoint(idOr) {

        var url = "/WebSite/AddPoint";
        var obj = {};
        obj.point = idOr;

        $.ajax
       ({
           type: "POST",
           url: url,
           data: JSON.stringify(obj),
           dataType: "json",
           contentType: "application/json;charset=utf-8",
           success: function (data) {


           }
       });
    }
    function addOrder(price) {
        var url = "/WebSite/AddOrder";
        var obj = {};
        obj.priceTotal = price;
        $.ajax
       ({
           type: "POST",
           url: url,
           data: JSON.stringify(obj),
           dataType: "json",
           contentType: "application/json;charset=utf-8",
           success: function (data) {

               $.each($('.hdIdPro'), function (i, o) {
                   var t = $(o).val();
                   console.log(t);
                   addPro(data.IdOrder, t);

               });
               //AddPoint(data.PointTotal);

           }
       });
    }
    $(function () {
        var t = $('#hdPriceNo').val();
        $('.pricOutSub').html(tien(t));
        $('.clTotalPrcie').html(tien(t));

    })
    function getInforShip() {
        var idCity = $("#dropCity option:selected").text();
        var idDistrict = $("#dropDistrict option:selected").text();
        var idWard = $("#dropWard option:selected").text();
        var vlFullName = $("#txtshipFullName").val();
        var vlAddress = $("#txtshipAddress").val();
        var vlPhone = $("#txtPhone").val();
        $('.showFullname').html(vlFullName);
        $('.showAddress').html(vlAddress + ', ' + idWard + ', ' + idDistrict + ', ' + idCity);
        $('.showPhone').html(vlPhone);
    }
    function check() {
        var idCity = $("#dropCity option:selected").val();
        var idDistrict = $("#dropDistrict option:selected").val();
        var idWard = $("#dropWard option:selected").val();
        var vlFullName = $("#txtshipFullName").val();
        var vlAddress = $("#txtshipAddress").val();
        var vlPhone = $("#txtPhone").val();
        var t = 0;
        if (vlFullName == "") {
            $('.lblFullName').addClass('hidden');
            $('#txtshipFullName').after('<label style="color:red;" class="errorLabel lblFullName">Vui lòng nhập họ tên / Full Name</label>');
            t++;
        }
        if (vlAddress == "") {
            $('.lblAddress').addClass('hidden');
            $('#txtshipAddress').after('<label style="color:red;" class="errorLabel lblAddress">Vui lòng nhập địa chỉ / Address</label>');
            t++;
        }
        if (vlPhone == "") {
            $('.lblPhone').addClass('hidden');
            $('#txtPhone').after('<label style="color:red;" class="errorLabel lblPhone">Vui lòng nhập điện thoại / Phone</label>');
            t++;
        }
        if (idCity == 0) {
            $('.lblCity').addClass('hidden');
            $('#dropCity').after('<label style="color:red;" class="errorLabel lblCity">Vui lòng chọn Thành Phố / City</label>');
            t++;
        }
        if (idDistrict == 0) {
            $('.lblDis').addClass('hidden');
            $('#dropDistrict').after('<label style="color:red;" class="errorLabel lblDis">Vui lòng chọn Quận / Ditrisct</label>');
            t++;
        }
        if (idWard == 0) {
            $('.lblWard').addClass('hidden');
            $('#dropWard').after('<label style="color:red;" class="errorLabel lblWard">Vui lòng chọn Phường / Ward</label>');
            t++;
        }
        if (t == 0) {
            $(".cltoupayout").click();
            $('.licart').removeClass('active')
            $('.lipayout').addClass('active')
            $('.deliveinfo').removeClass('active')
            getInforShip();
        }
    }
</script>


<!-- FOOTER--->
@Html.Partial("Footer")
<!--END FOOTER--->
