@using BeautyAndCare.Models;
@using System.Linq;
@using System.Configuration
@model tblAll
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayOutNew.cshtml";
    WebSiteEntities db = new WebSiteEntities();
    var queryMenu = from data in db.tblMenus
                    where data.StatusMenu == 1
                    orderby data.OrderMenu ascending
                    select data;
}
<!--HEADER--->
@Html.Partial("Header", queryMenu.ToList())
<!--END HEADER--->
<div class="container">
    @Html.Partial("Breadcrumb")
    <div class="row">
        <div id="content" class="col-sm-12">
            @foreach (var item in Model.tblPro)
            {
                <div class="row">
                    <h3 class="product-title">@item.NameProducts</h3>
                    <div class="col-sm-6 col-lg-7 product_page-left">
                        <div class="product-gallery">
                            <div class="row">

                                <div class="col-lg-9 pull-right hidden-xs hidden-sm hidden-md text-center">
                                    @foreach (var itemPic in Model.ListPicture.Where(x => x.Position == 1 && x.ProductsId == item.IdProducts))
                                    {
                                        <img alt="@item.NameProducts" width="800" height="800" id="productZoom" src="@ConfigurationManager.AppSettings["domain"]@String.Format(itemPic.ConvertedFilename, 2).ToString().Split('_')[0]/@String.Format(itemPic.ConvertedFilename, 2)" data-zoom-image="@ConfigurationManager.AppSettings["domain"]@String.Format(itemPic.ConvertedFilename, 2).ToString().Split('_')[0]/@String.Format(itemPic.ConvertedFilename, 1)" />
                                    }

                                </div>
                                <div class="col-lg-2 hidden-xs hidden-sm hidden-md image-thumb">
                                    <ul id="productGallery" class="image-additional" data-slide-width="126">
                                        @foreach (var itemPic in Model.ListPicture.Where(x => x.ProductsId == item.IdProducts))
                                        {
                                            <li>
                                                <a href="#" data-image="@ConfigurationManager.AppSettings["domain"]@String.Format(itemPic.ConvertedFilename, 2).ToString().Split('_')[0]/@String.Format(itemPic.ConvertedFilename, 2)" data-zoom-image="@ConfigurationManager.AppSettings["domain"]@String.Format(itemPic.ConvertedFilename, 2).ToString().Split('_')[0]/@String.Format(itemPic.ConvertedFilename, 1)">
                                                    <img width="126" height="126" src="@ConfigurationManager.AppSettings["domain"]@String.Format(itemPic.ConvertedFilename, 2).ToString().Split('_')[0]/@String.Format(itemPic.ConvertedFilename, 2)" alt="@item.NameProducts" />
                                                </a>
                                            </li>
                                        }

                                    </ul>
                                </div>
                                <div class="col-xs-12 hidden-lg image-thumb">
                                    <ul id="productFullGallery" class="image-additional" data-slide-width="126">
                                        @foreach (var itemPic in Model.ListPicture.Where(x=>x.ProductsId== item.IdProducts))
                                        {
                                            <li>
                                                <a href="#" data-image="@ConfigurationManager.AppSettings["domain"]@String.Format(itemPic.ConvertedFilename, 2).ToString().Split('_')[0]/@String.Format(itemPic.ConvertedFilename, 2)" data-zoom-image="@ConfigurationManager.AppSettings["domain"]@String.Format(itemPic.ConvertedFilename, 2).ToString().Split('_')[0]/@String.Format(itemPic.ConvertedFilename, 1)">
                                                    <img width="126" height="126" src="@ConfigurationManager.AppSettings["domain"]@String.Format(itemPic.ConvertedFilename, 2).ToString().Split('_')[0]/@String.Format(itemPic.ConvertedFilename, 2)" alt="@item.NameProducts" />
                                                </a>
                                            </li>
                                        }

                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 col-lg-offset-1 product_page-right">
                        @*<div class="general_info product-info">
                                <ul class="list-unstyled product-section">
                                    <li>
                                        <strong>Brand:</strong>
                                        <a href="http://livedemo00.template-help.com/opencart_59086/index.php?route=product/manufacturer/info&amp;manufacturer_id=31">Physicians Formula</a>
                                    </li>
                                    <li>
                                        <strong>Product Code:</strong>
                                        <span>Classic</span>
                                    </li>
                                    <li>
                                        <strong>Availability:</strong>
                                        <span>999</span>
                                    </li>
                                </ul>

                                <div class="rating-section product-rating-status">
                                    <div class="rating">
                                        <span class="fa-stack">
                                            <i class="fa fa-star active fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="fa fa-star active fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="fa fa-star active fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="fa fa-star active fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="fa fa-star fa-stack-1x"></i>
                                        </span>
                                        <span class="review-link review-link-show">
                                            <a href="#">1 Review(s)&lrm;</a>
                                        </span>
                                        <span class="review-link review-link-write">
                                            <a href="#">Write a review</a>
                                        </span>
                                    </div>
                                </div>
                            </div>*@
                        <div id="product">
                            @*<div class="product-options clearfix">
                                    <h3>Available Options</h3>
                                    <div class="form-group required clearfix">
                                        <label class="control-label" for="input-option32">Size</label>
                                        <select name="option[32]" id="input-option32" class="form-control">
                                            <option value="">--- Please Select ---</option>
                                            <option value="72">
                                                Small (+$20.00)&lrm;
                                            </option>
                                            <option value="73">
                                                Medium (+$15.00)&lrm;
                                            </option>
                                            <option value="74">
                                                Large (+$10.00)&lrm;
                                            </option>
                                        </select>
                                    </div>
                                </div>*@


                            <div class="form-group form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12 quantity">
                                        @*<div class="quantity_block">
                                                <label class="control-label" for="input-quantity">Số lượng</label><br>
                                                <a class="counter counter-minus material-design-horizontal39" href='#'></a>
                                                <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                                <input type="hidden" name="product_id" value="46" />
                                                <a class="counter counter-plus material-design-add186" href='#'></a>
                                            </div>*@
                                        <div class="price-section">
                                            <div class="price">
                                                <span class="price-new price-new_@item.IdProducts">
                                                    <script>
                                                        $(function () {

                                                            $('.price-new_@item.IdProducts').text(tien(@item.PriceNewProducts));
                                                        }) </script>
                                                </span>
                                                <span class="price-old price-old_@item.IdProducts">
                                                    <script>
                                                        $(function () {

                                                            $('.price-old_@item.IdProducts').text(tien(@item.PriceProducts));
                                                        }); 
                                                    </script>
                                                </span>
                                            </div>
                                        </div>
                                        <button type="button" id="button-cart" data-loading-text="Loading..." onclick="addToCart(@item.IdProducts);" class="btn-primary"><i class="fl-outicons-shopping-cart13"></i> <span>Thêm vào giỏ hàng</span></button>
                                    </div>
                                </div>
                                <div class="price-section">
                                    <div class="reward-block">
                                    </div>
                                </div>
                            </div>
                            @*<ul class="product-buttons">
                                    <li>
                                        <button class="product-btn" onclick="wishlist.add('46');"><i class="material-icons-favorite_border"></i> <span>Add to Wishlist</span></button>
                                    </li>
                                    <li>
                                        <button class="product-btn" onclick="compare.add('46');"><i class="material-icons-shuffle"></i> <span>Add to Compare</span></button>
                                    </li>
                                </ul>*@
                            <div class="product-share">

                                <div class="addthis_sharing_toolbox"></div>

                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55e053ac02ebd38e" async="async"></script>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_tabs">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-description" data-toggle="tab">
                                Mô tả
                            </a>
                        </li>


                        @*<li>
                                <a href="#tab-video" data-toggle="tab">
                                    Video
                                </a>
                            </li>*@
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-description">
                            @Html.Raw(item.DescriptionProducts)
                        </div>
                        @*<div class="tab-pane product-spec product-section" id="tab-specification">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2"><strong>Product Details</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Paraben free</td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Warranty</td>
                                            <td>1 year</td>
                                        </tr>
                                        <tr>
                                            <td>Cruelty free</td>
                                            <td>Yes</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2"><strong>Delivery and Returns</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Shipping</td>
                                            <td>Free Shipping</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane product-reviews" id="tab-review">
                                <form class="form-horizontal" id="form-review">
                                    <div id="review"></div>
                                    <div class="review-form-title">
                                        <h3 class="product-section_title">Write a review</h3>
                                    </div>
                                    <div class="product-review-form" id="reviews_form">
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="input-name">Your Name</label>
                                                <input type="text" name="name" value="" id="input-name" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="input-review">Your Review</label>
                                                <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                                <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                                            </div>
                                        </div>
                                        <div class="form-group required stars">
                                            <div class="col-sm-12">
                                                <label class="control-label">Rating</label>
                                                <input type="radio" name="rating" value="5" /><span class="fa fa-star"></span>
                                                <input type="radio" name="rating" value="4" /><span class="fa fa-star"></span>
                                                <input type="radio" name="rating" value="3" /><span class="fa fa-star"></span>
                                                <input type="radio" name="rating" value="2" /><span class="fa fa-star"></span>
                                                <input type="radio" name="rating" value="1" /><span class="fa fa-star"></span>
                                            </div>
                                        </div>
                                        <div class="buttons clearfix">
                                            <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">
                                                Continue
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>*@
                        @*<div id="tab-video" class="tab-pane product-video product-section">
                                <div class="r_frame">
                                    <iframe src="//www.youtube.com/embed/-d8KTrhiMCY?Rel=0&amp;controls=0&amp;showinfo=0&amp;wmode=transparent" allowfullscreen="" height="315" width="560"></iframe>
                                </div>
                                <div class="clearfix"></div>
                            </div>*@
                    </div>
                </div>
                @section share_fb{

                    <meta property="og:title" content="@item.NameProducts" />

                    <meta property="og:url" content='http://beautyandcare247.com/WebSite/Detail/@item.NameProducts.UrlFrendly()-@item.IdProducts' />
                    <meta name="description" content="@item.DescriptionProducts">
                    <meta property="og:description" content="@item.DescriptionProducts" />
                    <meta name="keywords" content="thực phẩm nhật,thuc pham nhat" />
                 
                    <meta property="og:image:width" content="600" />
                    <meta property="og:image:height" content="315" />
                    @foreach (var item1 in Model.ListPicture.Where(x => x.Position == 1))
                    {
                        <meta property="og:image" content="@ConfigurationManager.AppSettings["domain"]@item1.OriginalFilepath.Split('_')[0]/@item1.OriginalFilepath" />
                    }

                }
}


            <div class="box-heading related">
                <h3 class="product-title">Sản phẩm liên quan</h3>
            </div>
            <div class="box-content related">
                <div class="box-carousel">
                    @foreach (var item in Model.tblProductRel.Where(x=>x.StatusProducts==1))
                    {
                        <div class="product-thumb transition options">

                            <div class="quick_info">
                                <div id="quickview_@item.IdProducts" class="quickview-style">
                                    <div class="left col-sm-4">
                                        <div class="quickview_image image">
                                            <a href="@Url.Action("Detail", "WebSite",new { id=item.NameProducts.UrlFrendly() + "-" + item.IdProducts })">
                                                @foreach (var itemPic in Model.ListPicture.Where(x => x.ProductsId == item.IdProducts && x.Position == 1))
                                                {
                                                    <img width="310" height="310" alt="@item.NameProducts" title="@item.NameProducts" class="img-responsive" src="@ConfigurationManager.AppSettings["domain"]@String.Format(itemPic.ConvertedFilename, 2).ToString().Split('_')[0]/@String.Format(itemPic.ConvertedFilename, 2)" />
                                                }
                                            </a>
                                        </div>
                                    </div>
                                    <div class="right col-sm-8">
                                        <h3>@item.NameProducts</h3>
                                        <div class="inf">
                                            @*<p class="quickview_manufacture manufacture manufacture">
                                                    Brand: <a href="http://livedemo00.template-help.com/opencart_59086/index.php?route=product/manufacturer/info&amp;manufacturer_id=25">CeraVe</a>
                                                </p>
                                                <p class="product_model model">
                                                    Product Code: Classic
                                                </p>*@
                                            <div class="price">
                                                <span class="price-new price-new_@item.IdProducts">
                                                    <script>
                                                        $(function () {

                                                            $('.price-new_@item.IdProducts').text(tien(@item.PriceNewProducts));
                                                        }) </script>
                                                </span>
                                                <span class="price-old price-old_@item.IdProducts">
                                                    <script>
                                                        $(function () {

                                                            $('.price-old_@item.IdProducts').text(tien(@item.PriceProducts));
                                                        }) </script>
                                                </span>
                                            </div>
                                        </div>
                                        <button class="btn-primary" data-toggle="tooltip" title="Thêm vào giỏ hàng" type="button" onclick="addToCart(@item.IdProducts);"> <span>Thêm vào giỏ hàng</span> </button>
                                        @*<ul class="product-buttons">
                                                <li>
                                                    <button class="product-btn" type="button" data-toggle="tooltip" title="Add to Wishlist" onclick="wishlist.add('28');"> <i class="material-icons-favorite_border"></i> <span>Add to Wishlist</span> </button>
                                                </li>
                                                <li>
                                                    <button class="product-btn" type="button" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('28');"> <i class="material-icons-shuffle"></i> <span>Add to Compare</span> </button>
                                                </li>
                                            </ul>*@
                                        @*<div class="rating">
                                                <span class="fa-stack"> <i class="fa fa-star active fa-stack-1x"></i> </span>
                                                <span class="fa-stack"> <i class="fa fa-star active fa-stack-1x"></i> </span>
                                                <span class="fa-stack"> <i class="fa fa-star active fa-stack-1x"></i> </span>
                                                <span class="fa-stack"> <i class="fa fa-star fa-stack-1x"></i> </span>
                                                <span class="fa-stack"> <i class="fa fa-star fa-stack-1x"></i> </span>
                                            </div>*@
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="sale">
                                <span>Sale</span>
                            </div>
                            <div class="image">
                                <a rel="" href="@Url.Action("Detail", "WebSite",new { id=item.NameProducts.UrlFrendly() + "-" + item.IdProducts })">
                                    @foreach (var itemPic in Model.ListPicture.Where(x =>x.Position == 1 && x.ProductsId==item.IdProducts))
                                    {
                                        <img width="310" height="310" alt="@item.NameProducts" title="@item.NameProducts" class="img-responsive" src="@ConfigurationManager.AppSettings["domain"]@String.Format(itemPic.ConvertedFilename, 2).ToString().Split('_')[0]/@String.Format(itemPic.ConvertedFilename, 2)" />
                                    }
                                </a>
                                <a class="quickview" data-rel="details" href="#quickview_@item.IdProducts">
                                    Xem nhanh
                                </a>
                                <div class="rating">
                                    <span class="fa-stack"> <i class="fa fa-star active fa-stack-1x"></i> </span>
                                    <span class="fa-stack"> <i class="fa fa-star active fa-stack-1x"></i> </span>
                                    <span class="fa-stack"> <i class="fa fa-star active fa-stack-1x"></i> </span>
                                    <span class="fa-stack"> <i class="fa fa-star fa-stack-1x"></i> </span>
                                    <span class="fa-stack"> <i class="fa fa-star fa-stack-1x"></i> </span>
                                </div>
                            </div>
                            <div class="caption">
                                <div class="name">
                                    <a href="@Url.Action("Detail", "WebSite",new { id=item.NameProducts.UrlFrendly() + "-" + item.IdProducts })">@item.NameProducts</a>
                                </div>
                                <div class="name clen">
                                    <a href="@Url.Action("Detail", "WebSite",new { id=item.NameProducts_en.UrlFrendly() + "-" + item.IdProducts })">@item.NameProducts_en</a>
                                </div>
                                @if (item.IdCategoryProducts!=null)
                                {
                                    <div class="category-name clvi">
                                        @(db.tblMenus.Find(item.IdCategoryProducts).NameMenu)
                                    </div>
                                    <div class="category-name clen hidden">
                                        @(db.tblMenus.Find(item.IdCategoryProducts).NameMenu_en)
                                    </div>
                                }
                               
                                <div class="price">
                                    <span class="price-new price-new_@item.IdProducts">
                                        <script>
                                            $(function () {

                                                $('.price-new_@item.IdProducts').text(tien(@item.PriceNewProducts));
                                            }) </script>
                                    </span>
                                    <span class="price-old price-old_@item.IdProducts">
                                        <script>
                                            $(function () {

                                                $('.price-old_@item.IdProducts').text(tien(@item.PriceProducts));
                                            }) </script>
                                    </span>
                                </div>

                            </div>
                            <div class="cart-button">
                                <button class="btn-primary" type="button" onclick="addToCart(@item.IdProducts);"> <i class="fl-outicons-shopping-cart13"></i> <span>Thêm vào giỏ hàng</span></button>
                                <div class="clear"></div>
                                @*<button class="product-btn" type="button" onclick="wishlist.add('28');"> <i class="material-icons-favorite_border"></i> <span>Add to Wishlist</span></button>
                                    <button class="product-btn" type="button" onclick="compare.add('28');"> <i class="material-icons-shuffle"></i> <span>Add to Compare</span></button>*@
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>
<script>
	//(function ($) {
	//	$(document).ready(function () {
	//		$('.review-link a').click(function (e) {
	//			e.preventDefault();
	//			$('.product_tabs a[href="#tab-review"').tab('show');

	//		})
	//		$('.review-link-show').click(function () {
	//			$('html, body').animate({
	//				'scrollTop': $('.product_tabs').offset().top - ($('#stuck').outerHeight() + 50)
	//			}, 1000);
	//		})
	//		$('.product_tabs li:first-child a').tab('show');
	//	});
	//})(jQuery);

	//document.getElementById('input-quantity').onkeypress = function (e) {

	//	e = e || event;

	//	if (e.ctrlKey || e.altKey || e.metaKey) return;

	//	var chr = getChar(e);

	//	if (chr == null) return;

	//	if (chr < '0' || chr > '9') {
	//		return false;
	//	}

	//}

	//function getChar(event) {
	//	if (event.which == null) {
	//		if (event.keyCode < 32) return null;
	//		return String.fromCharCode(event.keyCode)
	//	}

	//	if (event.which != 0 && event.charCode != 0) {
	//		if (event.which < 32) return null;
	//		return String.fromCharCode(event.which)
	//	}

	//	return null;
	//}
	//jQuery('#reviews_form_title').addClass('close-tab');
	//jQuery('#reviews_form_title').on("click", function () {
	//	if (jQuery(this).hasClass('close-tab')) {
	//		jQuery(this).removeClass('close').parents('#tab-review').find('#reviews_form').slideToggle();
	//	}
	//	else {
	//		jQuery(this).addClass('close-tab').parents('#tab-review').find('#reviews_form').slideToggle();
	//	}
	//})
</script>
<script type="text/javascript">
	@*$('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
		$.ajax({
			url: 'index.php?route=product/product/getRecurringDescription',
			type: 'post',
			data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
			dataType: 'json',
			beforeSend: function () {
				$('#recurring-description').html('');
			},
			success: function (json) {
				$('.alert, .text-danger').remove();

				if (json['success']) {
					$('#recurring-description').html(json['success']);
				}
			}
		});
	});*@
</script>
@*<script type="text/javascript">
        $('#button-cart').on('click', function () {
            $.ajax({
                url: 'index.php?route=checkout/cart/add',
                type: 'post',
                data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
                dataType: 'json',
                beforeSend: function () {
                    $('#button-cart').button('loading');
                },
                complete: function () {
                    $('#button-cart').button('reset');
                },
                success: function (json) {
                    clearTimeout(timer);
                    $('.alert, .text-danger').remove();
                    $('.form-group').removeClass('has-error');

                    if (json['error']) {
                        if (json['error']['option']) {
                            for (i in json['error']['option']) {
                                var element = $('#input-option' + i.replace('_', '-'));

                                if (element.parent().hasClass('input-group')) {
                                    element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                                } else {
                                    element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                                }
                            }
                        }

                        if (json['error']['recurring']) {
                            $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                        }

                        if (json['error']['quantity']){
                            $('#content').parent().before('<div class="alert alert-danger"><i class="material-design-cancel19"></i>' + json['error']['quantity'] + ' <button type="button" class="close material-design-close47"></button> </div>');
                        }

                        $('.text-danger').parent().addClass('has-error');
                    }

                    if (json['success']) {
                        $('#content').parent().before('<div class="alert alert-success"><i class="material-design-verification24"></i> ' + json['success'] + '<button type="button" class="close material-design-close47"></button></div>');


                        $('#cart-total').html(json['total']);
                        $('#cart-total2').html(json['total2']);
                        $('#cart > ul').load('index.php?route=common/cart/info ul li');
                    }
                    timer = setTimeout(function () {
                        $('.alert').addClass('fadeOut');
                    }, 4000)
                }
            });
        });
    </script>
    <script type="text/javascript">
        $('#review').delegate('.pagination a', 'click', function (e) {
            e.preventDefault();

            $('#review').fadeOut('slow');

            $('#review').load(this.href);

            $('#review').fadeIn('slow');
        });

        //$('#review').load('index.php?route=product/product/review&product_id=46');

        $('#button-review').on('click', function () {
            $.ajax({
                url: 'index.php?route=product/product/write&product_id=46',
                type: 'post',
                dataType: 'json',
                data: $("#form-review").serialize(),
                beforeSend: function () {
                    $('#button-review').button('loading');
                },
                complete: function () {
                    $('#button-review').button('reset');
                },
                success: function (json) {
                    $('.alert-success, .alert-danger').remove();

                    if (json['error']) {
                        $('#review').after('<div class="alert alert-danger"><i class="material-design-cancel19"></i> ' + json['error'] + '</div>');
                    }

                    if (json['success']) {
                        $('#review').after('<div class="alert alert-success"><i class="material-design-verification24"></i> ' + json['success'] + '</div>');

                        $('input[name=\'name\']').val('');
                        $('textarea[name=\'text\']').val('');
                        $('input[name=\'rating\']:checked').prop('checked', false);
                    }
                }
            });
        });
    </script>
    <script type="text/javascript">
        var disqus_shortname = 'thtest123';

        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>*@
<!-- FOOTER--->
@Html.Partial("Footer")
<!--END FOOTER--->
