
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <h4 class="fotterThongtin">Thông tin</h4>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("About","WebSite")" class="clAbout">Giới thiệu</a></li>
                    <li><a href="@Url.Action("Contact","WebSite")" class="clheadercontact">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <h4>Liên kết</h4>
                <ul class="list-unstyled">
                    <li><a href="http://duhocdongnai.com/">Du học</a></li>
                    <li><a href="@Url.Action("ListBlog","WebSite")">Blog</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <h4 class="clfotterTaiKhoan">Tài khoản của tôi</h4>
                <ul class="list-unstyled">
                    @if (Session["IdUser"] != null)
                    {
                        <li><a href="@Url.Action("MyAccount","WebSite" ,new {userId=Session["IdUser"] })"class="clviewaccount" >Xem tài khoản</a></li>
                            <li><a>Sản phẩm đã mua</a></li>
                            <li><a>Lịch sử mua hàng</a></li>
                          

                    }
                    else
                    {
                        <li><a href="@Url.Action("Login")" class="cllogin">Đăng nhập</a></li>
                        <li><a href="@Url.Action("Register")" class="clregister">Đăng ký</a></li>
                       
                    }

                  
                </ul>
            </div>
            <div class="col-xs-6 col-sm-12 col-md-3 col-lg-3">
                <div class="footer_modules">
                    <div class="fb-page" data-href="https://www.facebook.com/Beautyandcare247/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/thucphamNhat/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/thucphamNhat/">Cửa hàng chuyên đồ Nhật</a></blockquote></div>
                    <ul class="social-list list-unstyled">
                        @*<li><a class="fa fa-facebook" href="#" data-toggle="tooltip" title="Facebook"></a></li>
                        <li><a class="fa fa-twitter" href="#" data-toggle="tooltip" title="Twitter"></a></li>
                        <li><a class="fa fa-google-plus" href="#" data-toggle="tooltip" title="Google+"></a></li>
                        <li><a class="fa fa-pinterest-p" href="#" data-toggle="tooltip" title="Pinterest"></a></li>
                        <li><a class="fa fa-instagram" href="#" data-toggle="tooltip" title="Instagram"></a></li>*@
                    </ul>
                  
                    <div id="tm-newsletter" class="box newsletter">
                        <div class="box-content clearfix">
                            <div>
                                <h4 class="footerNhanMail">Nhận thông tin mới nhất từ cửa hàng!</h4>
                               
                            </div>
                            <form method="post" enctype="multipart/form-data" id="tm-newsletter-form">
                                <div class="tm-login-form">
                                    <label class="control-label" for="input-tm-newsletter-email"></label>
                                    <input type="text" name="tm_newsletter_email" value="" placeholder="Enter your e-mail" id="input-tm-newsletter-email" class="form-control" />
                                    <button type="submit" id="tm-newsletter-button" class="fa fa-envelope-o newsletter-button"></button>
                                </div>
                                <span id="tm-newsletter_error" class="newsletter-error"></span>
                                <span id="tm-newsletter_success" class="newsletter-success"></span>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            Powered By <a href="http://www.opencart.com">beautyandcare247</a><br /> tunguyen.it.dev@gmail.com &copy; 2016
        </div>
    </div>
</footer>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=1542874159340791";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>