@using BeautyAndCare.Models
@model IEnumerable<BeautyAndCare.Models.tblMenu>

<header>

    <div class="header-top">
        <div class="container">
            <nav id="top-links" class="nav toggle-wrap">
                <a class="toggle fl-outicons-user189" href='#'></a>
                <ul class="toggle_cont">
                    @if (Session["IdUser"] != null)
                    {
                        <li><span class="cusWellcome"> Xin chào,</span><input type="hidden" id="hdUserName" value="@Session["EmailUser"]" />  <a href="@Url.Action("Login")">@Session["EmailUser"]</a></li>

                    }
                    else
                    {
                        <li><a href="@Url.Action("Login")" class="cllogin">Đăng nhập</a></li>
                        <li><a href="@Url.Action("Register")" class="clregister">Đăng ký</a></li>
                        <li><a href="@Url.Action("Contact")" class="clheadercontact">Liên hệ</a></li>
                    }


                </ul>
            </nav>
            <div class="box-currency">
                <form action="http://livedemo00.template-help.com/opencart_59086/index.php?route=common/currency/currency" method="post" enctype="multipart/form-data" id="form-currency">
                    <div class="btn-group toggle-wrap">
                        <span class="toggle">
                            <span>VNĐ</span>
                            <span class="hidden-xs">Đơn vị tiền</span>
                        </span>
                        <ul class="toggle_cont pull-right">
                            <li>
                                <button class="currency-select selected" type="button" name="VNĐ">
                                    Việt Nam
                                </button>
                            </li>
                            <li>
                                <button class="currency-select " type="button" name="USD">
                                    USD Dollar
                                </button>
                            </li>

                            <li>
                                <button class="currency-select" type="button" name="GBP">
                                    GBP Pound
                                </button>
                            </li>
                        </ul>
                    </div>

                </form>
            </div>
            <div class="box-language">
                @*<form id="form-language">*@
                <div class="btn-group toggle-wrap">
                    <span class="toggle">
                        <span>Việt Nam</span>
                        <span class="hidden-xs cllanguage">Ngôn ngữ</span>

                    </span>
                    <ul class="toggle_cont pull-right">

                        <li>
                            <a href="/" class="language-select " id="btnVn" rel="1">Việt Nam</a>
                        </li>
                        <li>

                            <a href="/" class="language-select" id="btnEn" rel="2">English</a>
                        </li>
                        <li>
                            <a href="/" class="language-select" id="btnJp" rel="3">Japan</a>

                        </li>

                    </ul>

                </div>
                @*</form>*@
            </div>
        </div>
    </div>
    <div class="logo-block">
        <div class="container">
            <h1 id="logo" class="logo">
                <a href="@Url.Action("Index")"><img src="http://livedemo00.template-help.com/opencart_59086/image/catalog/logo.png" title="beautyandcare247" alt="beautyandcare247" class="img-responsive"></a>
            </h1>
            <div class="pull-left">
                <span class="clheadercontact">Liên hệ:</span>   <a href="callto:0918214088">0918214088</a>
                <p class="clgiolamviec"></p>
            </div>
            <div class="box-cart">
                <div id="cart" class="cart toggle-wrap">
                    <button type="button" data-loading-text="Loading..." class="toggle">
                        <i class="fl-outicons-shopping-cart13"></i>
                        <strong>Giỏ hàng</strong>
                        <span id="cart-total" class="cart-total">0 item(s) - $0.00</span>
                        <span id="cart-total2" class="cart-total2">0</span>
                    </button>
                    <ul class="pull-right toggle_cont">
                        <li>
                            Giỏ hàng
                            <button type="button" class="btn-close-cart btn-danger"><i class="material-icons-clear"></i></button>
                        </li>
                        <li>
                            <table class="table">
                                <tbody class="LoadProducts"></tbody>
                            </table>
                        </li>
                        <li>
                            <table class="table total">
                                <tbody>
                                    <tr>
                                        <td class="text-left">
                                            <strong>Sub-Total</strong>
                                        </td>
                                        <td class="text-right">
                                            $100.00
                                        </td>
                                    </tr>
                                    <tr>

                                        <td class="text-left">

                                            <strong>Total</strong>
                                        </td>
                                        <td class="text-right">
                                            $100.00
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right">
                                <a class="btn-view" href="@Url.Action("CheckOut","WebSite")"><span class="clxemgiohang"> Xem giỏ hàng</span></a>
                                @*onclick="ViewCart()"*@
                                <input type="hidden" id="hdIdPro" />
                                <div class="clear"></div>
                                <a class="btn-primary" href="http://livedemo00.template-help.com/opencart_59086/index.php?route=checkout/checkout"><span>Go to Checkout</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> <a class="button-wishlist" href="http://livedemo00.template-help.com/opencart_59086/index.php?route=account/wishlist" id="wishlist-total" title=""> <i class="fl-outicons-heart373"></i> Wishlist <span>0</span> </a>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="stuck-menu navigation">
                <div class="megamenu">
                    <h3>Categories</h3>
                    <ul class="sf-menu">

                        @foreach (var item in Model)
                        {
                            if (item.IsParent == 0 && item.IdParentMenu == 0)
                            {
                                <li class="sf-with-mega">
                                    @if (item.IsCategoryMenu == 1)
                                    {

                                        <a href="@Url.Action("ListProducts", "WebSite",new { id=item.NameMenu.UrlFrendly() + "-" + item.IdMenu })" class="clvi">@item.NameMenu</a>
                                        <a href="@Url.Action("ListProducts", "WebSite",new { id=item.NameMenu_en.UrlFrendly() + "-" + item.IdMenu })" class="clen hidden">@item.NameMenu_en</a>

                                    }
                                    else
                                    {

                                        <a href="@item.LinkMenu" class="clvi">@item.NameMenu</a>
                                    <a href="@item.LinkMenu" class="clen hidden">@item.NameMenu_en</a>

                                    }
                                    
                                </li>
                            }
                            else
                            {
                                if (item.IsParent == 1)
                                {
                                    <li class="sf-with-mega">
                                        @if (item.IsCategoryMenu == 1)
                                        {

                                            <a class="clvi hidden" href="@Url.Action("ListProducts", "WebSite",new { id=item.NameMenu.UrlFrendly() + "-" + item.IdMenu })">@item.NameMenu</a>
                                            <a  class="clen hidden" href="@Url.Action("ListProducts", "WebSite",new { id=item.NameMenu_en.UrlFrendly() + "-" + item.IdMenu })">@item.NameMenu_en</a>
                                        }
                                        else
                                        {

                                            <a href="@item.LinkMenu" class="clvi hidden">@item.NameMenu</a>                                   
                                                     <a href="@item.LinkMenu" class="clen hidden">@item.NameMenu_en</a>

                                        }
                                         <ul class="sf-mega">
                                            @foreach (var child in Model.Where(p => p.IdParentMenu == item.IdMenu))
                                            {
                                                <li class="sf-mega_row">
                                                    <div class="sf-mega_section 1" style="width: 16.7%">
                                                        <ul>
                                                            <li>
                                                               
                                                                @if (item.IsCategoryMenu == 1)
                                                                {

                                                                    <a href="@Url.Action("ListProducts", "WebSite",new { id=child.NameMenu.UrlFrendly() + "-" + child.IdMenu })" class="clvi hidden">@child.NameMenu</a>
                                                                    <a href="@Url.Action("ListProducts", "WebSite",new { id=child.NameMenu_en.UrlFrendly() + "-" + child.IdMenu })" class="clen hidden">@child.NameMenu_en</a>
                                                                }
                                                                else
                                                                {

                                                                    <a href="@child.LinkMenu" class="clvi hidden">@child.NameMenu</a>
                                                                    <a href="@child.LinkMenu" class="clen hidden">@child.NameMenu_en</a>
                                                                }
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        }

                    </ul>
                </div>
                
                <div id="style_switcher">
                    <div class="toggler"></div>
                    <p>The customization tool allows you to make color changes in your theme</p>
                    <ul id="color-box">
                        <li><div class="color_scheme color_scheme_1" data-scheme="color_scheme_1">&nbsp;</div></li>
                        <li><div class="color_scheme color_scheme_2" data-scheme="color_scheme_2">&nbsp;</div></li>
                        <li><div class="color_scheme color_scheme_3" data-scheme="color_scheme_3">&nbsp;</div></li>
                        <li><div class="color_scheme color_scheme_4" data-scheme="color_scheme_4">&nbsp;</div></li>
                    </ul>
                </div>
            </div>
            <div class="search">
                <a class="top-search"><i class="fl-outicons-magnifying-glass34"></i></a>
                <div id="search">
                    <div class="inner">
                        <input type="text" name="search" value="" placeholder="Search..." /><button type="button" class="button-search"><i class="fl-outicons-magnifying-glass34"></i></button>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</header>
