@using BeautyAndCare.Models;
@using System.Linq;

@model  tblAll
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayOutNew.cshtml";
    WebSiteEntities db = new WebSiteEntities();
    var queryMenu = from data in db.tblMenus
                    where data.StatusMenu == 1
                    orderby data.OrderMenu ascending
                    select data;

}
@section share_fb{

    <meta property="og:title" content="Beauty and Care 247 - Giữ mãi nét thanh xuân" />

    <meta property="og:url" content='http://beautyandcare247.com/' />
    <meta name="description" content="Beauty and Care 247 - Giữ mãi nét thanh xuân">
    <meta property="og:description" content="Beautyandcare247 chuyên cung cấp những thực phẩm,mỹ phẩm có xuất xứ từ Nhật Bản chất lương sản phẩm tuyệt vời" />
    <meta name="keywords" content="thực phẩm nhật,thuc pham nhat" />

    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <meta property="og:image" content="http://beautyandcare247.com/Template/image/logo.png" />
}




<!--HEADER--->
@Html.Partial("Header", queryMenu.ToList())
<!--END HEADER--->
<!--CONTAINER--->
<div class="container">
    <div class="row">
        <div id="content" class="col-sm-12">


            @Html.Partial("Slider")

            <!--NewProducts--->
            @Html.Partial("NewProducts", Model)
            <!--NewProducts--->
            @Html.Partial("Blogs", Model)

        </div>
    </div>
</div>
<!--END CONTAINER--->
<!-- FOOTER--->
@Html.Partial("Footer")
<!--END FOOTER--->
