@using BeautyAndCare.Models
@model tblAll
@using System.Configuration
@foreach (var item1 in Model.ListMenu)
{  <div>
       <a href="@Url.Action("ListProducts", "WebSite",new { id=item1.NameMenu.UrlFrendly() + "-" + item1.IdMenu })" class="clvi" style="float:right;margin-bottom:10px;margin-top:10px;">xem tất cả</a>
       <a href="@Url.Action("ListProducts", "WebSite",new { id=item1.NameMenu_en.UrlFrendly() + "-" + item1.IdMenu })" class="clen hidden" style="float:right;margin-bottom:10px;margin-top:10px;">All Product</a>

    </div>
    
    <div class="box latest">
        <div class="clear"></div>
        <div class="box-heading">
           
            <h3 class="clvi">
                @item1.NameMenu
                
            </h3>
            <h3 class="clen hidden hidden">
                @item1.NameMenu_en
                
            </h3>
           
        </div>
        <div class="box-content">
            <div class="box-carousel">
                @foreach (var item in Model.tblPro.Where(x => x.IdCategoryProducts == item1.IdMenu).Take(5))
                {
                    <div class="product-thumb transition options">

                        <div class="product-option-wrap">
                            <div class="product-options form-horizontal">
                                <div class="options">
                                    <a class="ajax-overlay_close" href='#'></a>
                                    <h3>Available Options</h3>
                                    <div class="form-group hidden">
                                        <div class="col-sm-8">
                                            <input type="text" name="product_id" value="50" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label col-sm-12" for="input-option3903001">
                                            Size
                                        </label>
                                        <div class="col-sm-12">
                                            <select name="option[39]" id="input-option3903001" class="form-control">
                                                <option value="">--- Please Select ---</option>
                                                <option value="87">
                                                    Small (+$15.00)&lrm;
                                                </option>
                                                <option value="88">
                                                    Medium (+$10.00)&lrm;
                                                </option>
                                                <option value="89">
                                                    Large (+$5.00)&lrm;
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label col-sm-12">
                                            Color
                                        </label>
                                        <div class="col-sm-12">
                                            <div id="input-option4003001">
                                                <div class="radio">
                                                    <label for="option[409003001]">
                                                        <input type="radio" hidden name="option[40]" id="option[409003001]" value="90" />
                                                        black
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label for="option[409203001]">
                                                        <input type="radio" hidden name="option[40]" id="option[409203001]" value="92" />
                                                        white
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label for="option[409103001]">
                                                        <input type="radio" hidden name="option[40]" id="option[409103001]" value="91" />
                                                        red
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-primary" type="button" onclick="addToCart(@item.IdProducts);"> <i class="fl-outicons-shopping-cart13"></i> <span>Thêm vào giỏ hàng</span> </button>
                                </div>
                            </div>
                        </div>
                        <div class="quick_info">
                            <div id="quickview_latest_@item.IdProducts" class="quickview-style">
                                <div class="left col-sm-5">
                                    <div class="quickview_image image">
                                        <a href="@Url.Action("Detail", "WebSite",new { id=item.NameProducts.UrlFrendly() + "-" + item.IdProducts })">
                                            @foreach (var itemPic in Model.ListPicture.Where(x => x.ProductsId == item.IdProducts && x.Position == 1))
                                            {
                                                <img width="310" height="310" alt="@item.NameProducts" title="@item.NameProducts" class="img-responsive" src="@ConfigurationManager.AppSettings["domain"]@String.Format(itemPic.ConvertedFilename, 2).ToString().Split('_')[0]/@String.Format(itemPic.ConvertedFilename, 2)" />
                                            }
                                        </a>
                                    </div>
                                </div>
                                <div class="right col-sm-7">
                                    <h2 class="clvi">@item.NameProducts</h2>
                                    <h2 class="clen hidden">@item.NameProducts_en</h2>
                                    <div class="price">
                                        <span class="price-new price-new_@item.IdProducts">
                                            <script>
                                            $(function () {

                                                $('.price-new_@item.IdProducts').text(tien(@item.PriceNewProducts));
                                            }) </script>
                                        </span>
                                        <span class="price-old price-old_@item.IdProducts">
                                            <script>
                                            $(function () {

                                                $('.price-old_@item.IdProducts').text(tien(@item.PriceProducts));
                                            }) </script>
                                        </span>
                                    </div>
                                    <button class="btn-primary" type="button" onclick="addToCart(@item.IdProducts);"> <i class="fl-outicons-shopping-cart13"></i> <span>Thêm vào giỏ hàng</span> </button>
                                   
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        @if (item.IdTypeProducts == 1)
                    {
                            <div class="new-pr clvi"><span>Hàng mới</span></div>
                            <div class="new-pr clen hidden"><span>New</span></div>
                        }
                        @if (item.IdTypeProducts == 2)
                    {
                            <div class="sale clvi">
                                <span>Giảm giá</span>
                            </div>
                            <div class="sale clen hidden"><span>Discount</span></div>
                        }
                        @if (item.IdTypeProducts == 3)
                    {
                            <div class="discount"><span>Hết hàng</span></div>
                        }
                        @if (item.IdTypeProducts == 4)
                    {
                            <div class="discount"><span>Đang về</span></div>
                        }
                        <div class="image">
                            <a rel="" href="@Url.Action("Detail", "WebSite",new { id=item.NameProducts.UrlFrendly() + "-" + item.IdProducts })">
                                @foreach (var itemPic in Model.ListPicture.Where(x => x.ProductsId == item.IdProducts && x.Position == 1))
                                {
                                    <img width="310" height="310" alt="@item.NameProducts" title="@item.NameProducts" class="img-responsive" src="@ConfigurationManager.AppSettings["domain"]@String.Format(itemPic.ConvertedFilename, 2).ToString().Split('_')[0]/@String.Format(itemPic.ConvertedFilename, 2)" />
                                  
                                }
                              </a>
                            <a class="quickview" data-rel="details" href="#quickview_latest_@item.IdProducts">
                                Xem nhanh
                            </a>
                        </div>
                        <div class="caption">
                            <div class="name clvi">
                                <a href="@Url.Action("Detail", "WebSite",new { id=item.NameProducts.UrlFrendly() + "-" + item.IdProducts })">@item.NameProducts</a>
                            </div>
                            <div class="name clen hidden">
                                <a href="@Url.Action("Detail", "WebSite",new { id=item.NameProducts_en.UrlFrendly() + "-" + item.IdProducts })">@item.NameProducts_en</a>
                            </div>
                            <div class="category-name">
                             @foreach (var itemMenu in Model.ListMenu.Where(x => x.IdMenu == item.IdCategoryProducts))
                             {
                                <a href="@Url.Action("ListProducts", "WebSite",new { id=itemMenu.NameMenu.UrlFrendly() + "-" + itemMenu.IdMenu })" class="clvi">@itemMenu.NameMenu</a>
                                <a href="@Url.Action("ListProducts", "WebSite",new { id=itemMenu.NameMenu_en.UrlFrendly() + "-" + itemMenu.IdMenu })" class="clen hidden hidden">@itemMenu.NameMenu_en</a>
                             }
                            </div>
                           
                            <div class="price">
                                <span class="price-new price-new_@item.IdProducts">
                                    <script>
                                            $(function () {

                                                $('.price-new_@item.IdProducts').text(tien(@item.PriceNewProducts));
                                            }) </script>
                                </span>
                                <span class="price-old price-old_@item.IdProducts">
                                    <script>
                                            $(function () {

                                                $('.price-old_@item.IdProducts').text(tien(@item.PriceProducts));
                                            }) </script>
                                </span>
                            </div>
                        </div>
                        <div class="cart-button">
                            <button class="btn-primary" type="button" onclick="addToCart(@item.IdProducts);"> <i class="fl-outicons-shopping-cart13"></i> <span>Thêm vào giỏ hàng</span> </button>
                            <div class="clear"></div>
                            @*<button class="product-btn" type="button" onclick="wishlist.add('50');"> <i class="material-icons-favorite_border"></i> <span>Add to Wishlist</span></button>
                                <button class="product-btn" type="button" onclick="compare.add('50');"> <i class="material-icons-shuffle"></i> <span>Add to Compare</span></button>*@

                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
}